
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
    </style>
{% endblock %}
{% block body %}
    {{ include('base.html.twig') }}
<br>
    <h1 style="text-align:center; color: #1D4851;"><b>Conditions Générales d'Utilisation (CGU) de JS ENERGIE</b></h1>
    <hr style="width: 50px; color: #66FF66FF; background-color: #66FF66FF; border: 4px #66FF66FF solid; border-radius: 4px; text-align: center; margin: 0 auto;">

    <br>
<div style="margin: auto; width: 70%;">
    <div style="margin-left:auto; margin-right:auto;">
    <b style="font-size: 19px;">Date de dernière mise à jour : 17/01/2024</b>
        <br>
        <br>

    <p>Bienvenue sur le site internet de JS ENERGIE. Nous vous invitons à lire attentivement les présentes Conditions Générales d'Utilisation (CGU) qui régissent l'utilisation de notre site. En accédant ou en utilisant notre site, vous acceptez de vous conformer à ces CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site. </p>

    <h5>Objet du site :</h5>

    <p> JS ENERGIE propose des services liés au renouvellement d'énergie, tels que l'installation de pompes à chaleur, de ballons thermiques, etc. Les informations fournies sur le site sont destinées à vous informer sur nos produits et services.</p>

    <h4>Collecte de données :</h4>

    <p>Nous collectons des données uniquement lorsque vous demandez un devis, remplissez une fiche de contact ou vous inscrivez à notre newsletter. Nous nous engageons à traiter vos données conformément à notre politique de confidentialité.
    </p>
    <h5> Responsabilité de l'éditeur et de l'utilisateur :</h5>

   <p> L'utilisateur reconnaît que l'utilisation du site est sous sa responsabilité exclusive. JS ENERGIE ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation du site.
   </p>
    <h5> Sanctions en cas de non-respect :</h5>

   <p> En cas de non-respect des présentes CGU, JS ENERGIE se réserve le droit de prendre des mesures appropriées, y compris la suspension ou la résiliation de l'accès à certaines fonctionnalités du site.
   </p>
    <h5>Diligence du site :</h5>

    <p>JS ENERGIE s'engage à mettre en œuvre tous les moyens nécessaires pour assurer la disponibilité, la sécurité et la confidentialité du site. Cependant, l'éditeur ne peut garantir l'absence totale d'erreurs ou d'interruptions.
    </p>

    <h5>Propriété intellectuelle :</h5>

    <p>Le contenu du site, y compris les textes, images, logos, est la propriété exclusive de JS ENERGIE. Toute reproduction, distribution ou utilisation non autorisée est strictement interdite.
    </p>

    <h5>Modification des CGU :</h5>

    <p>JS ENERGIE se réserve le droit de modifier les présentes CGU à tout moment. Les utilisateurs seront informés des changements par le biais d'une notification sur le site.
    </p>



    <p style="font-size: 18px;">En utilisant notre site, vous acceptez pleinement et sans réserve ces CGU.
        <br>
        Si vous avez des questions, veuillez <a href="mailto:jsenergie26770@gmail.com?subject=Demande de question sur les CGU">nous contacter</a>.
        <br>
        Merci de votre confiance et de votre compréhension.</p>



        <h4> <b>L'équipe JS ENERGIE</b></h4>

    </div>
</div>











    <br>
    <br>
    <br>
    {{ include('main/accueil.html.twig') }}













{% endblock %}
  {%block javascripts %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {%endblock%}
