
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
    </style>
{% endblock %}
{% block body %}
    {{ include('base.html.twig') }}
<br>
    <h1 style="text-align:center; color: #1D4851;">Conditions générales de vente</h1>

<div style="margin: auto; width: 90%;">
    <div style="margin-left:auto; margin-right:auto;">
        <p> <b>LA SOCIETE :</b> JS ENERGIE</p>

        <p> <b>Type : </b> SAS AU CAPITAL DE 50 000 EUROS</p>

        <p> <b>Adresse : </b> 100 avenue du général Leclerc,93500 PANTIN</p>

        <p> <b>RCS (Registre du commerce et des sociétés) : </b> BOBIGNY B 832 997 274</p>



    <h5>1. ACCEPTATION ET OPPOSABILITÉ DES CONDITIONS GÉNÉRALOES DES VENTE</h5>
    <p>Les présentes Conditions Générales de vente (ci-après les "CGV") s'appliquent de plein droit à tout Client (ci-après "le Client") qui les agrées et qui reconnaît en avoir parfaite connaissance. Le Client reconnaît que, préalablement à la conclusio du contrat, JS ENERGIE lui a fourni les informations précontractuelles relatives aux installations vendues, et qu'il en a pris connaissance. Aucun autre document que les présentes ne pourra créer d'obligation entre les parties ou déroger aaux présentes à moins de faire l'objet d'un écrit signé par les parties. Le fait que JS ENERGIE ne se prévale pas à un moment donné de l'une des dispositions des CGV ne peut en aucune manière être interprété comme valant renonciation de sa part à s'en prévaloir ultérieurement, notamment les fait de ne pas réclamer un paiement en retard. L'éventuelle annulation d'une clause n'affectera pas la validité des autres clauses des présenntes.</p>

    <h5>2. OFFRES - DEVIS - CATALOGUES</h5>
    <p>Les devis et offres faits par JS ENERGIE à un Client sont valables un mois à compter de leur émission, sauf stipulation expresse contraire. Le contenu des documents commerciaux de .... ou de ses fournisseurs est purement informatif et peut être modifié sans préavis par JS ENERGIE.</p>

    <h5>3. COMMANDES - CONTRAT</h5>
    <h6><b style="font-size: 18px;">3.1</b> La date d'effet</h6>
    <p>Le contrat est conclu à la date de signature du bon de commande par le Client. Le contrat prend effet dà l'expiration du delai de rétractation prévu par l'article L. 221-18 du Code de la consommation reproduit ci-dessous, sous réserve que le Client n'ait pas usé de cette faculté de rétractation d'une part et sous réserve que la réalisation des conditions suspensives ci-après d'autre part.  </p>
    <h7>TEXTE INTÉGRAL DE L'ARTICLE L. 221-18 DU CODE DE LA CONSOMMATION : </h7>
    <p>Article L. 221-18: "Le consommateur dispose d'un delai de quatorze jours pour exercer son droit de rétractation prévu d'un contrat conclu à distannce, à la suite d'un démarchage téléphonique ou hors établissement, sans avoir à motiver sa décision ni à supporter d'autres coûts que ceux prévus aux articles L. 221-23 à L. 221-25. Le délai mentionné au premier alinéa court à compter du jour : 1° de la conclusion du contrat, pour les contrats de prestation de services et ceux mentionnés à l'article L.221-4 ; 2° de la réception du bien par le consommateur ou un tiers, autre que le transporteur, désigné par lui, pour les contrats de vente de biens. Pour les contrats conclus hors établissement, le consommateur peut exercer son droit de rétractation à compter de la conclusion du contrat. Dans le cas d'une commande portant sur plusieurs biens livrés séparément ou dans le cas d'une commande d'un bien composé de lots ou de pièces multiples dont la livraison est échelonnée sur une période définie, le délai court à compter de la réception du dernier bien ou lot ou de la dernière pièce. Pour les contrats prévoyant la livraison régulière de biens pendant une période définie, le délai court à compter de la réception du premier bien."</p>
    <p><b style="font-size: 18px;">3.2</b> Les commandes sont prises sous réserve de la faisabilité techniqueEn cas de non faisabilité, la commande sera annulée et les acomptes remboursés. JS ENERGIE informera le Client de l'infaisabilité technique dans un délai maximum de 4 mois à compter de la signature du bon de commande.</p>
    <p><b style="font-size: 18px;">3.3</b> Les commandes sont prises et le contrat conclu sous les conditions suspensives suivantes : </p>
    <p><b>3.3.1</b> Obtention, le cas échéant, par le Client ou son mandataire de l'autorisation administrative requise pour l'installation du matériel (récipissé de la déclaration préalable des travaux) et absence de recours  dans les délais légaux à l'encontreb de cette autorisation.</p>
    <p><b>3.3.2</b> Lorsque le Client a opté pour un prêt bancaire dans le bon de commande auprès d'un établissement financier partenaire, obtension par le Client du prêt. L'obtention d'une subvention ne saurait être érigée en condition suspensive indiquées 3.3.1 et 3.3.2 ou de la renonciation à se prévaloir de cette condition, dès connaissance des évènements soumis à condition. Si les conditions suspensives font  défaut, le bon de commande sera réputé caduc, sauf renonciation du Client à se prévaloir d'une des conditions. En cas de caducité du bon de commande, JS ENERGIE reversera l'acompte perçu.</p>

    <p><b style="font-size: 18px;">3.4 </b> Si le Client confie le mandat de gestion pour l’installation du
        matériel à JS ENERGIE, il s’engage à faire parvenir à JS ENERGIE dans les meilleurs délais une copie de toute correspondance
        reçue des diverses administrations dans le cadre de cette installation.</p>
    <p><b style="font-size: 18px;">3.5. </b>L’autoconsommation consiste à consommer en totalité ou en </p>
    <h5>4. GARANTIE - RESPONSABILITÉ</h5>
    <p><b style="font-size: 18px;">4.1.</b>Garanties légales de conformité et des vices cachés : Même si JS ENERGIE n’est pas le fabricant des matériels vendus, le Client bénéficie de la garantie légale de conformité de l’article L.217-4 du Code de la Consommation. A ce titre, le vendeur est tenu des défauts de conformité des biens au contrat dans les
        conditions de l’article L.217-4 et suivants du Code de la Consommation et des défauts cachés de la chose vendue dans les conditions prévues par l’article 1641 et suivants du Code Civil.
        Lorsqu’il agit en garantie légale de conformité, le consommateur :
        <br>
        - bénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir ;
        <br>
        - peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par
        l’article L. 211-9 du Code de la consommation ;
        <br>
        - est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien
        durant les six mois suivant la délivrance du bien.
        <br>
        Ce délai est porté à vingt-quatre mois à compter du 18 mars 2016, sauf pour les biens d’occasion.
        La garantie légale de conformité s’applique indépendamment de
        la garantie commerciale éventuellement consentie. Le consommateur peut décider de mettre en œuvre la garantie contre les
        défauts cachés de la chose vendue au sens de l’article 1641 du
        code civil et dans cette hypothèse, il peut choisir entre la
        résolution de la vente ou une réduction du prix de vente
        conformément à l’article 1644 du code civil.
        Conformément à l’exigence posée par l’article L.217-15 du Code
        de la Consommation, le vendeur porte à la connaissance de
        l’acheteur les dispositions des articles L.217-4, L.217-5, L.217-12, L.217-16 du Code de la Consommation, ainsi que l’article 1641 et
        le premier alinéa de l’article 1648 du Code Civil, dans leur intégralité.
        <br>
        - Article L.217-4 Code de la Consommation : Le vendeur livre un
        bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.
        Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque
        celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.
        <br>
        - Article L.217-5 du Code de la Consommation : Le bien est
        conforme au contrat :
        1° S’il est propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :
        <br>
        - s’il correspond à la description donnée par le vendeur et possède
        les qualités que celui-ci a présentées à l’acheteur sous forme d'échantillon ou de modèle;
        <br>
        - s’il présente les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par
        le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ; 2° Ou s’il présente les caractéristiques définies
        d’un commun accord par les parties ou est propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.
        <br>
        - Article L.217-12 du Code de la Consommation : L’action
        résultant du défaut de conformité se prescrit par deux ans à
        compter de la délivrance du bien.
        <br>
        - Article L.217-16 du Code de la Consommation : Lorsque l’acheteur demande au vendeur, pendant le cours de la garantie
        commerciale qui lui a été consentie lors de l’acquisition ou de la
        réparation d’un bien meuble, une remise en état couverte par la garantie, toute période d’immobilisation d’au moins sept jours vient
        s’ajouter à la durée de la garantie qui restait à courir. Cette période
        court à compter de la demande d’intervention de l’acheteur ou de la mise à disposition pour réparation du bien en cause, si cette
        mise à disposition est postérieure à la demande d’intervention.
        <br>
        - Article 1641 du Code Civil : Le vendeur est tenu de la garantie à
        raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement
        cet usage que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu'un moindre prix, s'il les avait connus.
        <br>
        - Article 1648 alinéa 1 du Code Civil : L’action résultant des vices
        rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice.

    </p>
    <p><b style="font-size: 18px;">4.2.</b> Garantie du fabricant :
        Le matériel utilisé est également couvert par la garantie délivrée par le fabricant. Le détail des garanties de chaque matériel est précisé dans le devis et le bon de commande.
        La société ayant installé ce matériel ne pourra pas être tenue responsable en cas de refus de garantie de la part du fabricant. La garantie du fabricant est exclue en cas d’usure normale, de défaut
        d’entretien ou en cas d’utilisation non conforme aux prescriptions
        du fabricant contenues dans les brochures remises au Client lors
        de l’installation des matériels.
        La mise en œuvre de cette garantie s’effectuera par
        l’intermédiaire de JS ENERGIE dans les conditions décrites ci-dessous.
        Les pièces détachées indispensables à l’utilisation des
        équipements seront disponibles sur le marché pendant une
        période de 2 ans à compter de la signature du bon de
        commande.</p>
    <p><b style="font-size: 18px;">4.3.</b> Garantie des travaux d’installation :
        JS ENERGIE a souscrit une police d’assurance au titre de sa responsabilité civile professionnelle, pour les travaux d’installation
        en France et DOM. Cette assurance couvre la conception et les travaux d’installation réalisés par JS ENERGIE contre tout
        défaut de conformité pendant deux ans à compter de
        l’établissement du procès verbal de réception de l’installation. La
        garantie est toutefois expressément limitée à la réparation, ou au
        choix de JS ENERGIE, au remplacement à neuf, pièces de
        rechange y compris main d’œuvre et déplacement. La garantie
        est exclue en cas d’usure
        normale, de défaut d’entretien, ou en cas d’utilisation non
        conforme aux recommandations de JS ENERGIE ou aux prescriptions des fabricants contenues dans les brochures remises au
        Client lors de l’installation des matériels. JS ENERGIE met à disposition du Client les détails de cette police d’assurance sur son
        site internet, et sur simple requête adressée par courriel au Service
        Client. Indépendamment de cette garantie commerciale,
        JS ENERGIE reste tenue de la garantie légale de conformité
        mentionnée aux articles L.217-4 à L.217-12 et de celle relative
        aux défauts de la chose vendue, dans les conditions prévues aux
        articles 1641 à 1648 et 2232 du Code Civil.
    </p>
    <p><b style="font-size: 18px;">4.4.</b>  Garantie décennale :
        Conformément à la loi n° 78-12 du 4 janvier 1978 concernant l’assurance des travaux de bâtiment, JS ENERGIE a souscrit pour
        ses installations d’économies ou de productions d’énergie en
        France métropolitaine et DOM, une police d’assurance au titre de
        sa responsabilité, susceptible d’être engagée sur le fondement des
        articles 1792 et suivants du Code Civil. JS ENERGIE met à disposition du Client les détails de cette police d’assurance sur son site
        internet, et sur simple requête adressée par courriel au Service Client.
        Au cas où le client actionnerait la garantie décennale de JS ENERGIE et si sa responsabilité était écartée, JS ENERGIE se réserve
        le droit de facturer au client le montant des frais qui en ont découlé.
    </p>
    <p><b style="font-size: 18px;">4.5.</b> Application de garantie :
        La garantie s’applique dans la mesure où le Client respecte les
        règles de bon fonctionnement. Il veille notamment à maintenir
        l’équipement en bon état d’entretien en se conformant au manuel
        d’utilisation fourni par JS ENERGIE. Compte tenu de la spécificité
        de l’équipement, et pendant toute la durée de la garantie, le Client
        s’engage à informer sans délai JS ENERGIE de tout dégât, détérioration ou panne et à recouvrir exclusivement à ses services pour
        effectuer les réparations nécessaires.


        Dans les cas d’équipements solaires photovoltaïques, le Client
        veille à ce qu’ils fonctionnent en continu, tout au long de l’année.
        Toute interruption du fait du Client le prive du bénéfice des garanties attachées au dit équipement. Le Client prendra à sa charge le
        bon état de propreté de la vitre recouvrant les modules solaires de
        l’équipement. Le Client s’efforcera en conséquence de maintenir
        ledit environnement tel qu’il était au jour de l’installation. JS ENERGIE ne saurait être tenue responsable des conséquences dommageables d’une baisse des performances de l’installation due à
        l’abstention fautive ou à la négligence du Client. Dans le cadre de
        l’application de l’article 1641 du Code Civil, la garantie contre tous
        vices de fabrication et est subordonnée au respect des conditions
        d’exploitation préconisées, par le constructeur. Dans le cas de
        remplacement d’un produit sous garantie, l’article L.217-9 du Code
        de la Consommation s’applique pleinement.
    </p>
    <p><b style="font-size: 18px;">4.6.</b>Mise en œuvre des garanties :
        En cas de sinistre survenu pendant la période de garantie, le Client
        en informe JS ENERGIE dans les plus brefs délais, par écrit, à
        l’adresse postale « JS ENERGIE – Service Client – JS ENERGIE
        », ou à l’adresse électronique «serviceclient@jsenergie.fr», en joignant tout justificatif utile. </p>
    <p><b style="font-size: 18px;">4.7.</b>
        Exclusions de garantie :
        La garantie est exclue et la responsabilité de JS ENERGIE ne peut être engagée dans les cas suivants :
        <br>
        - Non-paiement partiel ou total du montant de la commande;
        <br>
        - Détérioration des appareils provenant directement ou indirectement d’accidents de toutes sortes, chocs, surtensions, foudre,
        inondations, incendies et d’une manière générale, toutes causes
        autres que celles résultant d’une utilisation normale ;
        <br>
        - Mauvais fonctionnement résultant d’adjonction de pièces ou de dispositifs ne provenant pas du distributeur fabricant, ou non-agréés par lui ;
        <br>
        - Intervention de quelque nature que ce soit par une personne non
        agréée par le fabricant et sans avoir recueilli l’autorisation préalable du vendeur
        <br>
        - Variation du courant électrique, dérangement, panne ou
        rupture des lignes téléphoniques ;
        <br>
        - Modifications dommageables de l’environnement de l’appareil (température, hygrométrie, poussière, etc.);
        <br>
        -Modifications des spécifications d’un appareil utilisation non conforme à ses caractéristiques techniques;
        <br>
        - Interférences et brouillages de toutes sortes, radioélectriques ou électriques;
        <br>
        - Sous puissance du matériel que le client a choisi et dont il assume seul la détermination ;
        <br>
        - De manière générale, les perturbations de fonctionnement dues à des causes relevant de la force majeure ;
        <br>
        - Non-respect des consignes d’utilisation des matériels telles que contenues dans les notices remises au client lors de l’installation des matériels.
        <br>
        - Utilisation des appareils dans les conditions non conformes à leur usage ;
        <br>
        - Défaut d’entretien et de maintenance.
        <br>
    </p>
    <p><b style="font-size: 18px;">5.</b>Exclusion de responsabilité
        La responsabilité de JS ENERGIE ne saurait être engagée en raison d’une modification ou de la suppression, légale ou réglementaire, des aides et subventions, d’origine publique ou privée,
        auquel le Client pourrait prétendre.</p>

    <p><b style="font-size: 18px;">6.</b> Engagement du prestataire et du client
        S’agissant de toutes les installations d’économie ou de production
        d’énergie, JS ENERGIE réalise au profit de l’éventuel Client, préalablement à la conclusion du contrat, une étude de son habitat
        contenant des données relatives aux gains et économies d’énergie

        espérés, qui ne sont qu’estimatives et non garanties. Elles n’ont
        aucun caractère contractuel. JS ENERGIE procédera à l’installation du matériel
        soit directement, soit par l’intermédiaire d’un installateur qualifié.
        Pour l’exécution des travaux, le Client s’engage
        à laisser libre accès aux locaux tant à l’intérieur qu’à l’extérieur,
        à fournir l’eau et l’électricité si besoin, et à obtenir l’autorisation
        d’accès chez les voisins, si nécessaire. Le Client s’engage à
        fournir tout renseignement et tout justificatif sur le passage des
        canalisations d’eau, de gaz et d’électricité susceptibles de se
        trouver aux endroits de perçage des murs. Pour tout matériel
        comportant une horloge électrique, le Client fournira une arrivée
        de ligne électrique à moins de deux mètres de l’emplacement
        prévu pour l’appareil, en 220V monophasé plus une terre,
        conformément aux normes DTU en vigueur. La durée
        d’exécution des travaux étant variable à chaque chantier,
        l’installateur ou JS ENERGIE fera son possible pour la limiter au
        maximum. En d’impossibilité d’exécution des travaux pour une
        cause de force majeure, la durée du chantier sera prolongée
        sans que le Client puisse rechercher la responsabilité de JS
        ENERGIE. Le Client ne recevra aucune indemnité en raison de
        l’usure et des modifications affectant son bien immobilier. Le
        Client ne recevra aucune indemnité en raison d’une éventuelle
        dépréciation de son bien immobilier, liée, notamment, à des
        considérations esthétiques. Par ailleurs, le Client ne pourra en
        aucun cas exiger de JS ENERGIE qu’elle le débarrasse des
        éléments de toiture supprimés pour les besoins d’installation des
        équipements. Ces éléments resteront la propriété pleine et
        entière du Client qui en disposera à sa convenance. Si la
        réalisation d’une commande est rendue impossible par la non
        obtention de l’autorisation de travaux demandée à la mairie, JS
        ENERGIE pourra soutenir la demande auprès de la mairie
        jusqu’à l’acceptation ou le refus ferme et définitif de celle-ci. Le
        Client est garant des informations communiquées à JS
        ENERGIE . Toute difficulté rencontrée dans le cadre de
        l’installation et consécutive à la communication d’une information
        incomplète ou inexacte, ou à l’omission d’une information
        (notamment état de la charpente et de la toiture…) dégagera de
        plein droit JS ENERGIE de toute responsabilité découlant
        directement ou indirectement de cette information. De plus, JS
        ENERGIE ou son installateur pourra établir un devis
        complémentaire dans l’hypothèse où l’absence, l’insuffisance ou
        la mauvaise information qui lui a été communiquée ne lui aura
        pas permis de chiffrer correctement le coût de son intervention.
        Le Client s’engage à participer aux côtés de JS ENERGIE au
        bon déroulement des démarches administratives nécessaires à
        l’installation du matériel et à la mise en service des équipements.
        En cas de non coopération du Client, il restera seul responsable
        de son manque de diligence et des conséquences que cela
        emporte. Le Client reste en outre seul responsable de la
        décision d’effectuer l’installation des matériels commandés à
        JS ENERGIE. JS ENERGIE ne saurait être tenue pour
        responsable de l’implantation et de l’orientation des panneaux
        solaires voulues par le Client. En cas d’indisponibilité d’un matériel
        ou pour répondre à des problèmes techniques, JS ENERGIE se
        réserve le droit de fournir au Client un matériel pouvant être de
        marque différente, mais de qualité équivalente et présentant
        des caractéristiques et performances équivalentes ou
        supérieures au matériel décrit dans le bon de commande. Le
        Client accepte que JS ENERGIE puisse modifier la puissance et
        les modèles d’onduleurs installés, pour tenir compte des
        contraintes techniques de l’installation (région, puissance de la
        centrale, calepinage, configuration de la pièce). JS ENERGIE
        ajuste alors le nombre d’onduleurs et la puissance d’injection
        en respectant strictement les préconisations fabricant.
    </p>
    <h5>7. PRIX</h5>
    <p><b style="font-size: 18px;">7.1.</b>
        Le matériel et les fournitures installés peuvent être composés
        de plusieurs éléments qui doivent être appréhendés comme formant
        un tout indivisible : un pack. Le prix indiqué au devis correspond
        au prix de vente du pack pris comme un tout indissociable,
        ainsi qu’à la pose dudit pack. La TVA de chaque élément composant
        le pack et de sa pose sont inclues au prix TTC.
        Le prix de chacun des éléments composant le pack peut être fourni au
        consommateur, à sa demande. Ce prix couvre également les démarches
        administratives confiées à JS ENERGIE.
        Au-delà du prix
        fixé au bon de commande, des frais seront à la charge du Client
        et feront l’objet d’une facture complémentaire, notamment s’agissant
        d’éventuels frais de terrassement, de dépose ou de pose de
        matériaux (terrasse, carrelage, etc.), de peinture, papier peint, etc.
        Ce prix ne comprend pas le prix des éventuelles fournitures et
        prestations supplémentaires qui ne seraient pas prévues dans le
        bon de commande, notamment les prestations relatives à la mise
        en conformité de la toiture nécessaire pour réaliser l’installation ou
        les frais de raccordement au-delà des limites ci-dessus visées.
        Ce
        prix ne comprend pas notamment les travaux permettant d’installer
        les panneaux sans ombrages liés notamment à la végétation, arbres,
        antennes, paraboles ou conduits de cheminée qui demeurent
        à la charge du Client. Le Client procédera à ses frais avant
        l’installation à tous travaux d’élagage ou de dépose des éléments
        gênants, notamment pour le raccordement.
    </p>
    <p><b style="font-size: 18px;">7.2.</b> Information liée à la pompe
        à chaleur Air/Air - Air/Eau :
        L’installation de cet équipement est susceptible de nécessiter une
        augmentation de la puissance du compteur électrique. Dans ce
        cas, il appartiendra au Client de se rapprocher de son fournisseur
        d’électricité afin que le nécessaire soit fait. JS ENERGIE ne saurait
        être tenue responsable d’un manque de puissance nécessaire au bon fonctionnement des équipements. </p>

    <h5>8. PAIEMENT</h5>
    <p><b style="font-size: 18px;">8.1.</b>Avec financement proposé par l’intermédiaire de JS ENERGIE :
        Dans le cas où le Client aurait recours à un financement, il autorise
        la société à conclure avec l’établissement financier une délégation
        de paiement de manière à ce que l’établissement financier règle
        directement à JS ENERGIE le prix indiqué au bon de commande.
        L’établissement financier adresse les fonds directement à
        JS ENERGIE dès réception d’un document signé par le Client qui
        atteste de l’achèvement complet et sans réserve des prestations
        de livraison et d’installation des matériels, et qui autorise le
        déblocage des fonds. </p>

    <p><b style="font-size: 18px;">8.2.</b>Sans financement :
        Un premier acompte de 30% du montant total TTC de la
        commande, à l’expiration d’un délai de sept jours à compter de la
        conclusion du contrat. Le montant de cet acompte sera mentionné
        sur le bon de commande. L’exécution de la commande est suspendue au complet paiement de cet acompte. Un deuxième
        acompte de 60% du montant total TTC de la commande, au jour
        du démarrage des travaux d’installation. Ces acomptes ne pourront en aucun cas être qualifiés d’arrhes. Le solde, soit 10% du
        montant total TTC de la commande, à la réception des travaux
        d’installation par le Client.
    </p>
    <p><b style="font-size: 18px;">8.2.1.</b> Toutes les factures doivent être payées au siège de
        l’entreprise, comptant à la date de réception de la facture. .....adressera
        au Client les factures correspondantes. Un chèque de
        banque pourra être exigé par JS ENERGIE. </p>

    <p><b style="font-size: 18px;">8.2.2.</b>Dans le cas où JS ENERGIE demande des subventions
        au nom et pour le compte du Client à divers organismes, JS
        ENERGIE ne peut pas être tenue pour responsable de la
        réponse qui sera donnée par l’organisme sollicité. La commande
        du Client n’est en aucun cas passée sous réserve d’obtention
        d’une subvention de toute nature.</p>
    <p><b style="font-size: 18px;">8.3</b>
        Toute somme, y compris l’acompte non payé à sa date
        d’exigibilité, produira de plein droit des pénalités de retard au
        taux d’intérêt légal en vigueur. Ces intérêts seront dus
        jusqu’au jour du règlement de la somme exigible.</p>
    <p><b style="font-size: 18px;">8.4.</b> Les conditions de paiement sont fermes. Le Client ne peut
        invoquer quelque cause que ce soit pour différer ou modifier
        les conditions de paiement. Le Client ne peut pas, en cas de
        réclamation, retenir tout ou partie des sommes dont il est
        redevable, ni opérer une quelconque compensation. En cas de
        défaut de paiement dans les délais prévus et 48 heures après
        une mise en demeure restée infructueuse, JS ENERGIE aura
        la faculté d’exiger le paiement immédiat du solde restant dû, de
        suspendre la réalisation de ses obligations, de
        suspendre ou annuler les commandes en cours sans
        préjudice de demander des dommages et intérêts et / ou la
        résiliation du contrat.</p>
    <p><b style="font-size: 18px;">8.5.</b>En cas de paiement fractionné, le défaut de paiement d’une
        seule échéance à la date convenue entraîne de plein droit
        l’exigibilité immédiate de la totalité de la créance. JS ENERGIE
        qui se réserve le droit de subordonner l’exécution de toute
        livraison ultérieure, ou installation à ce règlement. </p>

    <p><b style="font-size: 18px;">8.6.</b>En outre de convention expresse, tous les frais de recouvrement engagés par JS ENERGIE seront mis à la charge du
        Client.</p>
    <p><b style="font-size: 18px;">8.7.</b>Le cas échéant tout règlement partiel de facture
        s’imputera d’abord et de plein droit sur la partie non
        privilégiée de notre créance.</p>
    <h5>9. RÉSERVE DE PROPRIÉTÉ</h5>
    <p>La propriété des marchandises fournies par JS ENERGIE ne sera
        transférée au Client que lorsque la totalité du montant facturé sera
        encaissé par JS ENERGIE. Les acomptes reçus resteront définitivement acquis par JS ENERGIE à titre d’indemnisation forfaitaire sans préjudice de toute autre action que JS ENERGIE serait en
        droit d’exercer</p>
    <h5>10. RÉALISATION DES TRAVAUX - RISQUES</h5>
    <p><b style="font-size: 18px">10.1.</b>JS ENERGIE s’engage à assurer la réalisation des travaux
        de pose dans le délai prévu au bon de commande, sous réserve
        de la coopération du Client et de l’obtention des autorisations administratives le cas échéant. JS ENERGIE ne saurait être tenue
        pour responsable d’un manque de diligence du Client occasionnant un retard dans l’installation des matériels. La date d’installation sera convenue entre les parties. Le Client s’engage à coopérer
        au mieux avec JS ENERGIE dans la détermination de cette date. </p>
    <p><b style="font-size: 18px;">10.2.</b>Le délai indiqué dans le bon de commande pourra toutefois
        être modifié en cas de survenance d’un cas fortuit, d’un cas de
        force majeur, ou de suspension, en raison d’une cause légitime.
        Dans cette hypothèse, le délai sera prorogé du nombre de jours
        pendant lesquels l’exécution du contrat aura été suspendue en raison de l’un de ces évènements. Pour l’application de ce paragraphe, seront notamment considérés comme des événements
        indépendants de notre volonté ayant entraîné la suspension du
        délai : les intempéries entraînant un arrêt des travaux, les difficultés techniques imprévisibles rencontrées au cours de la réalisation
        de l’installation, la non distribution de l’énergie, le défaut (indépendant de notre volonté) de production ou de livraison de nos propres
        fournisseurs;</p>
    <h5>11. RÉCEPTION</h5>
    <p>Après l’installation du matériel, JS ENERGIE fera signer au Client
        un procès-verbal de réception de l’installation. La réception sera
        alors réputée acquise sans réserve. En cas de refus, sans motif, du Client de signer le procès-verbal de réception de l’installation,
        celui-ci sera redevable des frais engagés par JS ENERGIE en vue
        d’obtenir la signature du procès-verbal ainsi que d’une indemnité
        de 30% du montant TTC de la commande. Lorsque la réception
        est assortie de réserves techniquement justifiées, JS ENERGIE
        procédera à leur levée dans un délai raisonnable. Immédiatement
        après le constat contradictoire de levée de réserves, la réception
        sera prononcée et constatée par l’établissement d’un procès-verbal établi sur le champ et signé par le Client et JS ENERGIE.
        Le refus du Client ne peut être motivé que par l’inachèvement des travaux
        ou par un ensemble de défauts graves équivalents à un inachèvement.
        Dans tous les cas, le Client doit indiquer par écrit les motifs de refus de réception. À la date de réception, JS ENERGIE
        remettra au Client les notices et brochures d’utilisation et d’entretien du fabricant.
    </p>
    <h5>12. ÉCONOMIE D’ÉNERGIE</h5>
    <p>De convention expresse entre les parties, le Client cède et transporte à JS ENERGIE les droits attachés aux certificats d’économies d’énergie pouvant résulter de la facturation des produits
        objets du présent contrat. En conséquence, le Client autorise JS
        ENERGIE à transmettre une copie de sa facture à tout organisme
        susceptible d’adhérer à un programme d’économies d’énergie.</p>
    <h5>13. RÉSILIATION</h5>
    <p>En cas de retard du début de l'installation du matériel par rapport à la date fixée entre le Client et JS ENERGIE, de plus de 20 jours,
        le Client pourra demander, dans un délai de 60 jours ouvrés courant à compter de l’expiration du délai figurant dans le bon de
        commande, la résolution anticipée du contrat par lettre recommandée avec accusé réception.</p>
    <h5>14. FORCE MAJEURE</h5>
    <p>JS ENERGIE ne sera pas responsable de toute inexécution
        contractuelle si cette inexécution est l’effet direct ou indirect d’un
        cas de force majeur tel que notamment: la survenance de tout cataclysme naturel, froid ou chaleur extrême, inondation, incendie,
        conflit, guerre, attentat, conflit du travail, tant chez JS ENERGIE
        que chez ses prestataires, fournisseurs, service public, poste, injonction
        impérative des pouvoirs publics (interdiction d’importer, d’exporter, etc.)
        accident d’exploitation bris de machine, explosion.
        La survenance d’un cas de force majeure entraîne la suspension
        immédiate de l’exécution du contrat.
    </p>
    <h5>15. DONNÉES PERSONNELLES</h5>
    <p>Le Client consent à la collecte et au traitement de ses données
        personnelles. Conformément au Règlement Européen sur la Protection
        des Données Personnelles du 27 Avril 2016, le Client dispose d’un
        droit d’accès, d’un droit de rectification, d’effacement, de
        limitation, d’opposition au traitement des données et d’un droit à leur portabilité.
        Ces droits s’exercent en adressant une demande
        écrite à JS ENERGIE dont les coordonnées figurent en tête des
        présentes. En outre, conformément à l’article L.223-2 du Code de
        la Consommation, lorsqu’un professionnel est amené à recueillir auprès d’un consommateur des données téléphoniques, il l’informe de son droit à s’inscrire sur la liste d’opposition au démarchage téléphonique.
    </p>
    <h5>16. ACCORD DU CLIENT SUR LA REMISE DES INFORMATIONS PRÉCONTRACTUELLES ET DU CONTRAT SUR SUPPORT ÉLECTRONIQUE</h5>
    <p>Conformément aux articles L.221-8 et L.221-9 du Code de la
        Consommation, les informations précontractuelles et un exemplaire du contrat conclu peuvent être fournis par le professionnel
        sur support électronique, sous réserve de l’accord du client.
        Le cas échéant, le Client reconnaît avoir accepté que JS ENERGIE lui fournisse les informations précontractuelles et le contrat,
        sur support électronique.</p>
    <h5>17. RÈGLEMENT DES LITIGES – DROIT APPLICABLE</h5>
    <p>Les opérations de vente susmentionnées sont soumises au droit
        français. Tous les litiges auxquels les opérations de vente conclues
        en application des conditions générales de vente applicables pourraient
        donner lieu, tant dans leur validité, leur interprétation, leur
        exécution, leur résiliation, leurs conséquences et leurs suites et
        qui n’auraient pu être résolues entre JS ENERGIE et le Client seront soumis aux tribunaux compétents dans les conditions de droit
        commun.
        Toutefois, les parties s’efforceront de trouver une solution amiable en cas de survenance d’un litige. En cas de contestation,
        le client a la possibilité d’adresser une réclamation, par écrit à
        l’adresse postale suivante : 100 avenue du Général Leclerc 93200 Pantin ou à l’adresse électronique suivante

        <a href="mailto:bureau-etude@jsenergie.fr?subject=Réclamation">bureau-etude@jsenergie.fr</a>
        . JS ENERGIE y répondra dans les
        meilleurs délais. Le Client a par ailleurs la possibilité de recourir
        gratuitement à un médiateur de la consommation, dans les
        conditions prévues aux articles L.611-1 et suivants du Code de la
        Consommation ou auprès des instances de médiation sectorielles
        existantes. En cas de persistance d’un litige malgré une
        réclamation amiable écrite préalablement adressée à JS
        ENERGIE, le Client peut saisir la Commission Paritaire de la
        Médiation de la Vente Directe (www.mediation-vente-directe.fr)
        100 Avenue du Président Kennedy 75016 Paris,
        info@cpmvd.fr, 0142153000, qui recherchera un règlement
        amiable.
    </p>
    <h5>18. RÉTRACTATION</h5>
    <p>Selon l’article L221-18 du code de la consommation : Le consommateur
        dispose d’un délai de quatorze jours pour exercer son droit
        de rétractation d’un contrat conclu à distance, à la suite d’un
        démarchage téléphonique ou hors établissement, sans avoir à motiver
        sa décision ni à supporter d’autres coûts que ceux prévus aux
        articles L. 221-23 à L. 221-25. Le délai mentionné au premier
        alinéa court à compter du jour :
        1° De la conclusion du contrat, pour les contrats de prestation de
        services et ceux mentionnés à l’article L. 221-4 ; 2° De la réception
        du bien par le consommateur ou un tiers, autre que le transporteur, désigné par lui, pour les contrats de vente de biens. Pour les
        contrats conclus hors établissement, le consommateur peut exercer son droit de rétractation à compter de la conclusion du contrat. Dans le cas d’une commande portant sur plusieurs biens livrés séparément ou dans le cas d’une commande d’un bien composé de
        lots ou de pièces multiples dont la livraison est échelonnée sur une
        période définie, le délai court à compter de la réception du dernier
        bien ou lot ou de la dernière pièce.
        Pour les contrats prévoyant la
        livraison régulière de biens pendant une période définie, le délai
        court à compter de la réception du premier bien.
        Effets de la rétractation :
        Le Client renvoie ou restitue les matériels à JS ENERGIE au plus
        tard dans les quatorze jours suivant la notification de sa décision
        de rétractation. Le Client supporte les coûts de renvoi des biens
        au tarif pratiqué par un transporteur ainsi que les risques de retour
        des-dits biens.
        Le retour des matériels doit s’effectuer dans leur emballage d’origine
        ou dans un emballage de nature à préserver leur parfaite intégrité.
        La responsabilité du Client sera engagée et il sera tenu à une
        indemnité compensatrice en cas de dépréciation des biens résultant
        de manipulations autres que celles nécessaires pour établir leur
        nature, leurs caractéristiques et leur bon fonctionnement, par
        exemple en cas d’usage incompatible avec les principes de la
        bonne foi.



        Pour organiser le retour des matériels, le Client contacte préalablement
        JS ENERGIE par écrit pour solliciter un accord de retour qu’il joindra aux matériels renvoyés.

        JS ENERGIE rembourse au Client la totalité des sommes versées
        sans retard injustifié et au plus tard dans les quatorze jours à
        compter de la date à laquelle elle est informée de la décision du
        Client de se rétracter.

        JS ENERGIE peut différer le remboursement jusqu’à récupération des biens ou jusqu’à ce que le Client ait fourni
        une preuve de l’expédition de ces biens, la date retenue étant celle
        du premier de ces faits.

        Le remboursement s’effectuera par le
        même moyen de paiement que celui utilisé pour la transaction initiale, sauf accord exprès du client pour que JS ENERGIE utilise
        un autre moyen de paiement et dans la mesure où le remboursement n’occasionne pas de frais pour le consommateur.

        JS ENERGIE n’est pas tenue de rembourser les frais supplémentaires si le
        Client a expressément choisi un mode de livraison plus coûteux que le mode de livraison utilisé par elle.


        Conformément à l’article
        L.221-25 du Code de la Consommation, si le Client souhaite que l’exécution de la prestation de services commence avant la fin du
        délai de rétractation, JS ENERGIE recueille sa demande expresse
        sur papier ou sur support durable.


        Le Client qui a exercé son droit
        de rétractation alors que l’exécution du contrat a déjà commencé, à sa demande expresse, avant la fin du délai de rétractation, verse
        à JS ENERGIE une somme correspondant au service fourni
        jusqu’à la notification de sa rétractation ;

        ce montant est proportionné au prix total de la prestation convenue dans le contrat.
        Conformément à l’article L.221-28 du Code de la Consommation,
        le droit de rétractation ne peut pas être exercé pour les contrats.


    </p>

    </div>
</div>



















    <br>
    <br>
    <br>
    {{ include('main/accueil.html.twig') }}













{% endblock %}
  {%block javascripts %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {%endblock%}
