{% extends 'base.html.twig' %}

{% block title %}New UserNewsletter{% endblock %}

{% block body %}
<br>
<a href="{{ path('app_user_newsletter_index') }}" class="btn btn-dark" style="margin-left:3%;">Retour</a>
<br>
<br>
    <h1 style="text-align:center;">Inscrire un client à notre newsletter</h1>
<br>
  {{ include('user_newsletter/_form.html.twig', {'button_label': 'Enregistrer'}) }}


{#    <a href="{{ path('app_user_newsletter_index') }}">back to list</a>#}
{% endblock %}
