



<form method="post" action="{{ path('app_infos_devis_delete', {'id': infos_devi.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce devis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ infos_devi.id) }}">
    <button class="btn btn-danger btn-supprimer" style="width:60px; height:100%;"><img src="{{asset( 'assets/images/delete.png') }}" class="card-img-top" style="width:25px;" alt=""></button>
</form>
