<div style="margin: auto; width: 50%;">
    <div style="margin-left:auto; margin-right:auto;">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" style="margin-left: 50%;" class="btn btn-primary" >{{ button_label|default('Enregistrer') }}</button>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>

