{% extends 'base.html.twig' %}

{% block title %}Edit UserArticle{% endblock %}

{% block body %}
    <h1>Edit UserArticle</h1>

    {{ include('user_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_article_index') }}">back to list</a>

    {{ include('user_article/_delete_form.html.twig') }}
{% endblock %}
