{% extends 'base.html.twig' %}

{% block title %}New UserArticle{% endblock %}

{% block body %}
    <h1>Create new UserArticle</h1>

    {{ include('user_article/_form.html.twig') }}

    <a href="{{ path('app_user_article_index') }}">back to list</a>
{% endblock %}
