<form method="post" action="{{ path('app_tranche_fiscal_delete', {'id': tranche_fiscal.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette tranche fiscal ``{{ tranche_fiscal.id }}``?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tranche_fiscal.id) }}">
    <button class="btn btn-danger btn-supprimer" style="width:60px; height:100%;"><img src="{{asset( 'assets/images/delete.png') }}" class="card-img-top" style="width:25px;" alt=""></button>
</form>
