

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock %}

{% block body %}
{{ include('base.html.twig') }}
<h1 style="text-align:center; color: #1D4851; font-weight: bold;">Les aides & les primes</h1>
        <hr style="width: 50px; color: #66FF66FF; background-color: #66FF66FF; border: 4px #66FF66FF solid; border-radius: 4px; text-align: center; margin: 0 auto;">

        <br>
<div style="margin: auto; width: 55%;" >
    <div style="margin-left:auto; margin-right:auto;">
<h4 style="text-align:center; color: #1D4851; text-align: center;"><b>MaPrimeRénov' : </b></h4>
        <br>
        <img class="img-top" src="{{ asset('assets/images/maprimerenov.webp' ) }}" style="width:400px; margin-left:25%;">
<br>
<p style="text-align:center;">MaPrimeRenov' est une aide financière mise en place par le gouvernement français pour encourager la rénovation énergétique des logements. Destinée aux propriétaires occupants, elle vise à soutenir les travaux visant à améliorer la performance énergétique des habitations. Grâce à MaPrimeRenov', les ménages peuvent bénéficier d'un coup de pouce financier, favorisant ainsi la transition vers des logements plus écologiques et économes en énergie.</p>
        <br>
        <br>
        <h4 style="text-align:center; color: #1D4851; text-align: center;"><b>Certificats d'Économies d'Énergie (CEE) : EDF : </b></h4>
        <br>
        <img class="img-top" src="{{ asset('assets/images/Électricité_de_France_logo.svg.png' ) }}" style="width:400px; margin-left:25%;">
        <br>
        <br>
        <p style="text-align:center;">Les Certificats d'Économies d'Énergie (CEE) sont des instruments incitatifs en France visant à encourager les économies d'énergie. EDF (Électricité de France) participe activement à ce dispositif en incitant ses clients à entreprendre des actions d'efficacité énergétique, générant ainsi des certificats échangeables. Cette démarche s'inscrit dans la volonté d'EDF de promouvoir une consommation d'énergie plus responsable et de contribuer à la transition énergétique.</p>


   </div>
</div>
<br>
<br>

{{ include('main/accueil.html.twig') }}

{%endblock%}
{%block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%endblock%}