


{% block body %}
    {{ include('base.html.twig') }}
<br>
<a href="{{ path('admin_article_app_article_index') }}" class="btn btn-dark" style="margin-left:3%;">Retour</a>
<br>
    <h1 style="text-align:center;">Ajouter un nouvel article</h1>
    <br>

    {{ include('article/_form.html.twig') }}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

















{% endblock %}
