

{% block body %}
    {{ include('base.html.twig') }}
<br>
<a href="{{ path('app_article_newsletter_index') }}" class="btn btn-dark" style="margin-left:3%;">Retour</a>

<div style="float:right; margin-right:3%;">{{ include('article_newsletter/_delete_form.html.twig') }}</div>
<br>
<br>
    <h1 style="text-align:center;">Editer un Article de la newsletter</h1>
    <br>


    {{ include('article_newsletter/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
