<form method="post" action="{{ path('app_devis_reno_global_delete', {'id': devis_reno_global.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce devis de rénovation globale?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devis_reno_global.id) }}">
    <button class="btn btn-danger btn-supprimer" style="width:60px; height:100%;"><img src="{{asset( 'assets/images/delete.png') }}" class="card-img-top" style="width:25px;" alt=""></button>
</form>
