{% extends 'base.html.twig' %}

{% block title %}New DevisRenoGlobal{% endblock %}

{% block body %}
    <h1>Create new DevisRenoGlobal</h1>

    {{ include('devis_reno_global/_form.html.twig') }}

    <a href="{{ path('app_devis_reno_global_index') }}">back to list</a>
{% endblock %}
